.badge-danger {
    color: red;
  }
  
  .badge-success {
    color: green;
  }
  
  .badge-closed {
    color: blue; /* You can choose any color suitable for the "Closed" status */
  }
  
  .badge-rejected {
    color: gray; /* You can choose any color suitable for the "Rejected" status */
  }
  