<div class=" bg-gradient-danger " style="min-height: 200px; z-index:-2;">

</div>

<div class="header">
    <div class="container-fluid">
      <div class="header-body">
      
        <!-- Card stats -->
        <div class="row" style="position:relative; top:-100px; z-index: 0;">

           <!-- <button type="button" class="btn btn-success add_btn" (click)="redirect()">addproduct</button>-->
          
              <div class="d-flex mt-2">
                <button type="submit"  class="btn " (click)="switchTo('SELLABLE')" [ngClass]="switch=='SELLABLE' ? '' : 'bg-green'" >switchTo Sellable </button>
                <button type="submit"  class="btn " (click)="switchTo('RENTABLE')" [ngClass]="switch!=='SELLABLE'  ? '' : 'bg-green'">switchTo Rentable </button>  
                <button type="submit"  class="btn " (click)="showOut()" [ngClass]="outOf ? '' : 'bg-red'">hide outOfTheStock </button>  

              </div>
            <div class="col-xl-3 col-lg-6 mt-4"  *ngFor="let produit of produitsFilter">
              <div >  
                <app-card-produit class="mt-4" [id]="produit.idProduct" [title]="produit.nomProduct" [type]="produit.product_Type" [img]="'https://picsum.photos/200/300?grayscale'" [description]="produit.description" [price]="produit.prix" [quantiter]="produit.quantiter" ></app-card-produit>

              </div>
            </div>
        </div>
      </div>
    </div>
</div>

  