<div class=" bg-gradient-danger " style="min-height: 200px; z-index:-2;">

</div>
<div class="header">
    <div class="container-fluid">
      <div class="header-body">

        <!-- Card stats -->
        <div class="row" style="position:relative; top:-100px; z-index: 0;">
            <button type="button" class="btn btn-success add_btn" (click)="redirect()">addproduct</button>
            <div id="carouselExampleCaptions" class="carousel slide slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner" >
                <div class="carousel-item active" >
                  <img src="https://www.tunisianet.com.tn/modules/wbimageslider/views/img/072e4cd542b865192a23d7b01c49af6acf0108b7_msi%20promo.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>
                <div class="carousel-item " >
                  <img src="https://www.tunisianet.com.tn/modules/wbimageslider/views/img/507a4e093d8929d46f5f14c63eabe177fb65eb3a_v30.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>
                <div class="carousel-item" >
                  <img src="https://www.tunisianet.com.tn/modules/wbimageslider/views/img/6d55356c4766f0589952fd54b2381420c3a90f8e_CANDY%20REF%20COMB.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
      </div>
    </div>
</div>

