<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Future Reservations</h5>
                    <span class="h2 font-weight-bold mb-0">{{this.futureResrvation}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Our Reservation users</h5>
                    <span class="h2 font-weight-bold mb-0 ">{{this.user}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
              
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Reservation in progress</h5>
                    <span class="h2 font-weight-bold mb-0">{{this.ResPro}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Our Reserved Campsites</h5>
                    <span class="h2 font-weight-bold mb-0">{{this.Resc}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row ">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <app-chart-pipe></app-chart-pipe>
      </div>
     
    </div>
  
  <mat-tab-group >
    <mat-tab label="Add reservation" class="bg-white">
      <div class="col-xl-8 order-xl-1" >
        <div class="card bg-secondary shadow" style="width: 1100px;">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
              </div>
            </div>
          </div>
     
          <div class="card-body">
            <form [formGroup]="ResForm" (ngSubmit)="SubmitForm()">
              <h6 class="heading-small text-muted mb-4">Reservation details</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-idReservation">ID Reservation</label>
                      <input type="text" id="input-idReservation" class="form-control form-control-alternative" formControlName="idReservation">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-campeurId">Campeur ID</label>
                      <input type="text" id="input-campeurId" class="form-control form-control-alternative" formControlName="campeurId">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-campsiteId">Campsite ID</label>
                      <input type="text" id="input-campsiteId" class="form-control form-control-alternative" formControlName="campsiteId">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" formGroupName="detailReservation">
                      <label class="form-control-label" for="input-detailResID">Detail Reservation ID</label>
                      <input type="text" id="input-detailResID" class="form-control form-control-alternative" formControlName="detailResID">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group" formGroupName="detailReservation">
                      <label class="form-control-label" for="input-dateArrivee">Date Arrivée</label>
                      <input type="date" id="input-dateArrivee" class="form-control form-control-alternative" formControlName="dateArrivee">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" formGroupName="detailReservation">
                      <label class="form-control-label" for="input-dateDepart">Date Départ</label>
                      <input type="date" id="input-dateDepart" class="form-control form-control-alternative" formControlName="dateDepart">
                    </div>
                  </div>
                </div>
                
           
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group" formGroupName="detailReservation">
                      <label class="form-control-label" for="input-prix">Prix</label>
                      <input type="number" id="input-prix" class="form-control form-control-alternative" formControlName="prix">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 text-right">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-tab>
    
  
    <mat-tab label="List Reservation" > 
      <div class="col-xl-12 order-xl-1" style="width: 1150px;"> <!-- Adjust the column size to fit the entire table -->
          <!-- Search input -->
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
          </div>
    
          <!-- Card containing the table -->
          <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                      <div class="col-8">
                          <h3 class="mb-0">Reservation</h3>
                      </div>
                  </div>
              </div>
              <div class="table-responsive">
                  <table class="table align-items-center table-flush" style="width: 100%; overflow-x: auto;">
                      <thead class="thead-light">
                          <tr>
                              <th scope="col">Reservation</th>
                              <th scope="col">Campeur ID</th>
                              <th scope="col">Campsite ID</th>
                              <th scope="col">Status</th>
                              <th scope="col">Date Arrival</th>
                              <th scope="col">Date Departure</th>
                              <th scope="col">Number of Campers</th>
                              <th scope="col">Prix</th>
                              <th scope="col">Action</th> <!-- New column header for delete button -->
                          </tr>
                      </thead>
                      <tbody *ngIf="reservations && reservations.length > 0">
                        <tr *ngFor="let res of reservations | filter: searchText">
                              <td>{{ res.idReservation }}</td>
                              <td>{{ res.campeurId }}</td>
                              <td>{{ res.campsiteId }}</td>
                              <td>
                                  <span class="badge badge-dot mr-4">
                                      <i class="bg-warning"></i> {{ res.detailReservation?.statusReservation }}
                                  </span>
                              </td>
                              <td>{{ res.detailReservation?.dateArrivee }}</td>
                              <td>{{ res.detailReservation?.dateDepart }}</td>
                              <td>{{ res.detailReservation?.nombreCampeurs }}</td>
                              <td>{{ res.detailReservation?.prix }} DT</td>
                              <td>
                                  <div class="col-4 text-right">
                                      <a class="btn btn-sm btn-warning" (click)="DeleteReservation(res.idReservation)">Delete</a>
                                    
            
                                      
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </mat-tab>
    
    
    
     
    </mat-tab-group>

  <app-heatmap></app-heatmap>

  <app-res-client></app-res-client>
  
  
  
  
  
  
  
  
  
  
  
  