.pointer{
    cursor: pointer;
}
.fix{
    margin-right: 15rem;
}
.card-profile-image img {
    max-width: 60px; /* Définir la largeur maximale souhaitée */
    height: auto; /* Conserver les proportions de l'image */
  }