<div class="header  imageCover" >
</div>

        <div class=" d-flex justify-content-between border-0">
     
        </div>

<div class="card">
<div class="row">
    <div class="col-md-12 col-lg-12 cart shadow">

        <div class="title">
            <div class="row">
                <div class="col">
                  <h4><b>Refund Cart</b></h4>
              </div>
            </div>
        </div>    
        <div class="row border-top border-bottom">
            <div class="row main align-items-center border-top" *ngFor="let panier of commandeFilter;index as i ">
                <div class="col">{{panier.id_Commande}}</div>
                <div class="col">
                    <div class="row ">{{panier.date_Commande}}</div>
                </div>
                <div class="col">
                  <div *ngIf="editmode">
                    <input type="number" id="input-quantiter" #quantier  class="form-control form-control-alternative inputstyle" placeholder="quantity" [value]="panier.quantiter" >
                  </div>
                  <span *ngIf="!editmode">{{panier.paymentMethode}}</span>
                </div>
                <div class="col">
                  {{panier.payment_token}}
                </div>
                <div class="col-2 ">
                  <button type="submit" class="btn btn-danger"  (click)="refund(panier.transaction,panier.total_Commande)">refund</button>
                </div>
             </div>
        </div>

    </div>
 
</div>

</div>
