<!---<div class="card  h-25  ">
    <img src="{{img}}" class="card-img-top card__img" alt="...">
    <div class="card-body ">
        <h5 class="card-title">{{title}}</h5>

        <div class="row">
            <div class="col">
                <p class="card-text">{{description}}</p>
            </div>
        </div>        
            <div class="row">
                <div class="col">
                    <p class="card-title">price : {{price}}dt</p>
                </div>
                <div class="col">
                    <p class="card-text">quantiter : {{quantiter}}</p>
                </div>
            </div> 
           
       
            
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success">addtochart</button>
        <span class="card-text">{{type}}</span>
    </div>

</div> --->

    
<div class="note">
<article class="card">
    <div class="infos">
        <h2 class="title">{{title}}</h2>
        <h3 class="date">november 2 - 4</h3>
        <h3 class="seats"></h3>
        <p class="txt">
            {{description}}
        </p>
        <h3 class="details">details</h3>
    </div>
</article>
</div>