<form (ngSubmit)="addactivity(activite)" #activiteForm="ngForm">
  <h6 class="heading-small text-muted mb-4">Activite Information</h6>
  <div class="pl-lg-4">

    <div class="form-group">
      <label class="form-control-label" for="input-nom-activite">Nom Activite</label>
      <input [(ngModel)]="activite.nomActivite"  type="text" id="input-nom-activite" class="form-control form-control-alternative">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="input-description">Description</label>
      <input [(ngModel)]="activite.description" type="text" id="input-description" class="form-control form-control-alternative">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="input-date">Date</label>
      <input [(ngModel)]="activite.date" type="text" id="input-date" class="form-control form-control-alternative">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="input-participants">Participants</label>
      <input [(ngModel)]="activite.participants" type="number" id="input-participants" class="form-control form-control-alternative">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="input-lieu">Lieu</label>
      <input [(ngModel)]="activite.lieu" type="text" id="input-lieu" class="form-control form-control-alternative">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="input-status">Status</label>
      <input [(ngModel)]="activite.status" type="checkbox" id="input-status" class="form-control form-control-alternative">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="input-pre-requis">Pre Requis</label>
      <input [(ngModel)]="activite.pre_requis" type="text" id="input-pre-requis" class="form-control form-control-alternative">
    </div>
  </div>
  <hr class="my-4" />

  <button type="submit" mat-flat-button color="primary" >Add</button>
</form>
