
    <div class=" bg-gradient-danger " class="imageCover">
        <div class="poisitiontitle">
          <h1 class="title">Dashbord</h1>
          <h1 class="subtitle text-muted">See our Statistics</h1>
      </div>
<div class="header bg-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <iframe title="Dashboard" width="1550" height="800" src="https://app.powerbi.com/reportEmbed?reportId=501111cc-dfb6-4fd7-9680-e7380b3a67de&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true" style="background-color: transparent;"></iframe>
    </div>
</div>