<div class="header">
<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Hello!</h1>
          <p class="text-lead text-light">Welcome to our camping website  Start your adventure here!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
       
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Login with your email and password</small>
          </div>
          <div *ngIf="erreur" class="alert alert-danger" role="alert">
            Vérifier les informations saisies.
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="authentification">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="email">
              
              </div>
              <div *ngIf="loginForm.controls['email'].invalid && (
                loginForm.controls['email'].touched || loginForm.controls['email'].dirty
              )">
                   <div *ngIf ="loginForm.controls['email'].errors?.['required']">  Ce champ est obligatoire </div>
                   <div *ngIf ="loginForm.controls['email'].errors?.['email']">  Ce n'est pas une adresse mail </div>
              </div>
            </div>
           
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password">
              
              </div>
              <div *ngIf="loginForm.controls['password'].invalid && (
                loginForm.controls['password'].touched || loginForm.controls['password'].dirty
              )">
                   <div *ngIf ="loginForm.controls['password'].errors?.['required']" > Veuillez confirmer votre mot de passe  </div>

              </div>
             
            </div>
          
          
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" [disabled]="!loginForm.valid" (click)="authentification()">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"   [routerLink]="['/resetPassword']" ><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
         
        </div>
      </div>
    </div>
  </div>
</div>
</div>