<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #1969a2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Activite">Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AddActivite">Add Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ModifyActivite">Modify Card</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Angular Material select component -->
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">Basic</mat-option>
      <mat-option value="two">Intermediate</mat-option>
      <mat-option value="three">Advanced</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Search form -->
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
