<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/camp.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
 
  <span class="mask"  opacity-8></span>


  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Salut, {{this.currentUser.firstName}}</h1>
       
        <a (click)="updateUser ()" class="btn btn-info"  >Edit profile</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Campings Favoris</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Statistiques</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Campings</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Activités</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Réclammations</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ this.currentUser.lastName}} {{ this.currentUser.firstName}} 
              <span class="font-weight-light">{{ this.calculateAge(this.currentUser.date_naissance
                ) }} ans </span>
            </h3>
            
            <div class="h5 font-weight-300">
              <i class="ni location_pin date_naissance
              mr-2"></i>{{this.currentUser.telephone}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{this.currentUser.adresse}}
            </div>
           
            <hr class="my-4" />
            <ng-container *ngIf="this.currentUser.role=='CAMPEUR'" >
                  
              <p class="element">{{ getFormattedDetails(currentUser.detailsUser, 'paysage') }}</p>
            
              <p class="element">{{ getFormattedDetails(currentUser.detailsUser, 'alimentation') }}</p>
              <p class="element">{{ getFormattedDetails(currentUser.detailsUser, 'compagnement') }}</p>
              <p class="element">{{ getFormattedDetails(currentUser.detailsUser, 'saison') }}</p>
              <p class="element">{{ getFormattedDetails(currentUser.detailsUser, 'type_hebergement') }}</p>
              
          
          </ng-container>
          <button class="button-89" role="button" (click)="showPreferenceForm()">Add preferences</button>
           
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a (click)="changePassword()" class="btn btn-sm btn-primary" >Change Password</a>
            </div>
          </div>
        </div>
        <div class="card-body">
        
          <form [formGroup]="editUserForm" (ngSubmit)="updateUser" >
            <div class="alert alert-success" role="alert"  *ngIf="ValidProfil" >
              <strong class="d-block d-sm-inline-block-force"> Votre profil est modifié avec succès   </strong>
             </div>
             
              <div class="alert alert-danger" role="alert" *ngIf="InvalidProfil"  >
               <strong class="d-block d-sm-inline-block-force">  Veuillez vérifier les champs </strong>
              </div>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"  value="{{this.currentUser.firstName}}"  formControlName="nom">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"  value="{{this.currentUser.lastName}}" formControlName="prenom" >
                  </div>
                </div>
              </div>
              <div class="row">
               
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="{{this.currentUser.email}}" formControlName="email">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Date de Naissance</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"  value="{{this.currentUser.date_naissance}}" disabled>
                  </div>
                </div>
               
              </div>
             
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresse</label>
                    <input id="input-address" class="form-control form-control-alternative"  value="{{this.currentUser.adresse}}" type="text" formControlName="adresse">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Télephone</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative"  value="{{this.currentUser.telephone}}" formControlName="telephone">
                  </div>
                </div>
             
                <div class="col-lg-4">
                 
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4"  *ngIf="this.currentUser.role=='CAMPEUR'">Add preferences</h6>
            <form [formGroup]="DetailsUserForm" *ngIf="showFrom" (ngSubmit)="addDetailUser()"  >
              <div class="form-group">
                <h3>Types de paysage</h3>
                <mat-button-toggle-group name="landscapeType" aria-label="Types de paysage" formControlName="paysage"  multiple>
                  <mat-button-toggle value="FOREST">FOREST</mat-button-toggle>
                  <mat-button-toggle value="DESERT">DESERT</mat-button-toggle>
                  <mat-button-toggle value="MOUNTAIN">MOUNTAIN</mat-button-toggle>
                  <mat-button-toggle value="BEACH">BEACH</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="form-group">
                <label for="color">Couleur</label>
                
                <input type="color" value="#ff0000" formControlName="couleur"class="form-control" />
              </div>
              <div class="form-group">
                <h3>Alimentation</h3>
                <mat-button-toggle-group name="food" aria-label="Alimentation" formControlName="alimentation"  multiple>    
                  <mat-button-toggle value="PICNIC">PICNIC</mat-button-toggle>
                  <mat-button-toggle value="BARBECUE">BARBECUE</mat-button-toggle>
                  <mat-button-toggle value="RESTAURANT">RESTAURANT</mat-button-toggle>
                  <mat-button-toggle value="CAFE">CAFE</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="form-group">
                <h3>Accompagnement</h3>
                <mat-button-toggle-group name="companionship" aria-label="Accompagnement" formControlName="compagnement"  multiple>
                  <mat-button-toggle value="GUIDED_TOURS">GUIDED_TOURS</mat-button-toggle>
                  <mat-button-toggle value="OUTDOOR">OUTDOOR</mat-button-toggle>
                  <mat-button-toggle value="EVENING">EVENING</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="form-group">
                <h3>Saison</h3>
                <mat-button-toggle-group name="season" aria-label="Saison" formControlName="saison"  multiple >
                  <mat-button-toggle value="SPRING">SPRING</mat-button-toggle>
                  <mat-button-toggle value="SUMMER">SUMMER</mat-button-toggle>
                  <mat-button-toggle value="AUTUMN">AUTUMN</mat-button-toggle>
                  <mat-button-toggle value="WINTER">WINTER</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="form-group">
                <h3>Type d'hébergement</h3>
                <mat-button-toggle-group name="accommodation" aria-label="Type d'hébergement" formControlName="type_hebergement"  multiple >
                  <mat-button-toggle value="TENT">TENT</mat-button-toggle>
                  
                  <mat-button-toggle value="BUNGALOW">BUNGALOW</mat-button-toggle>
                  <mat-button-toggle value="CARAVAN">CARAVAN</mat-button-toggle>
                  
                  <mat-button-toggle value="YURT">YURT</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <a (click)="annulerPreferences ()" class="btn btn-info" >Anuuler</a>
              <a (click)="addDetailUser()" class="btn btn-info" >Valider</a>
            </form>
            <div class="pl-lg-4">
             
              
             
            </div>
          </form>
          <div id="changePasswordForm" class="">
          <form [formGroup]="PasswordForm" *ngIf="ShowFormPassword" (ngSubmit)="valider" >

            
    
            <div class="form-group">
              <div class="alert alert-success" role="alert"  *ngIf="ValidPassword" >
                <strong class="d-block d-sm-inline-block-force"> Password changes successfully   </strong>
               </div>
               
                <div class="alert alert-danger" role="alert" *ngIf="InvalidPassword"  >
                 <strong class="d-block d-sm-inline-block-force">  Veuillez vérifier les champs </strong>
                </div>
              <label for="exampleFormControlInput1">Ancien mot de passe <span class="tx-danger">*</span> </label>
              <input type="password" class="form-control" formControlName="OldPassword" placeholder=" Entrer le nouveau mot de passe" >
              <div *ngIf="PasswordForm.controls['OldPassword'].invalid && (
                PasswordForm.controls['OldPassword'].touched || PasswordForm.controls['OldPassword'].dirty
              )">
                   <div *ngIf ="PasswordForm.controls['OldPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                   <div  *ngIf ="PasswordForm.controls['OldPassword'].errors?.['minlength']" class="red"> Au moins 5 caractéres  </div>
  
              </div>
            </div>
              
              <div class="form-group">
                <label for="exampleFormControlInput1">Nouveau mot de passe <span class="tx-danger">*</span> </label>
                <input type="password" class="form-control" formControlName="NewPassword"   placeholder=" Entrer le nouveau mot de passe" >
                <div *ngIf="PasswordForm.controls['NewPassword'].invalid && (
                  PasswordForm.controls['NewPassword'].touched || PasswordForm.controls['NewPassword'].dirty
                )">
                     <div *ngIf ="PasswordForm.controls['NewPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                     <div  *ngIf ="PasswordForm.controls['NewPassword'].errors?.['minlength']" class="red"> Au moins 5 caractéres  </div>
    
                </div>
              </div>
               <div class="form-group">
                <label for="exampleFormControlInput1">Confirmer le nouveau mot de passe <span class="tx-danger">*</span> </label>
                <input type="password" class="form-control" formControlName="ConfirmPassword"   placeholder=" Entrer la confirmation de mot de passe" >
                <div *ngIf="PasswordForm.controls['ConfirmPassword'].invalid && (
                  PasswordForm.controls['ConfirmPassword'].touched || PasswordForm.controls['ConfirmPassword'].dirty
                )">
                     <div *ngIf ="PasswordForm.controls['ConfirmPassword'].errors?.['required']" class="red"> Ce champ est obligatoire  </div>
                     <div *ngIf="PasswordForm.controls['ConfirmPassword'].errors?.['noMatch']" class="red">
                      Le mot de passe et sa confirmation ne correspondent pas.
                    </div>
    
                </div>
              </div>
              <a (click)="annuler ()" class="btn btn-info" >Anuuler</a>
              <a (click)="valider ()" class="btn btn-info" >Valider</a>
           
          </form>
          
         </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
