<p>works</p>
<div class="container shadow">
  <div class="img-container">
    <ng-container *ngIf="photos$ | async as photos">
      <div class="image-wrapper">
        <!-- Display the first photo as the preview -->
        <a [routerLink]="['/detaillistcampsite', id]">
          <img *ngIf="photos.length > 0" [src]="photos[0]" id="preview" alt="Image">
        </a>
        <!-- Overlay description text -->
        <ng-container *ngIf="detailcampsiteInfos$ | async as detailcampsiteInfos">
          <div class="overlay-text">Description: {{ detailcampsiteInfos.description }}</div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="info-container">

    <ng-container *ngIf="photos$ | async as photos">
      <div class="img-prev text-center">
        <div class="img-slide" *ngFor="let photo of photos; let i = index">
          <img [src]="photo" [alt]="'Image' + (i + 2)" [class.active]="i === 0" appClickimg>
        </div>
      </div>
    </ng-container>
   <!-- <p>voir plus.</p>-->
  </div>
</div>



<div class="card-container">
  <mat-card class="example-card">
    <mat-card-title-group>
      <ng-container *ngIf="photos$ | async as photos">
        <!-- Display the first photo as the preview -->
        <a [routerLink]="['/detaillistcampsite', id]">
          <img class="imglist" *ngIf="photos.length > 0" [src]="photos[0]" id="preview1" alt="Image">
        </a>
      </ng-container>
      <ng-container *ngIf="campsiteInfos$ | async as campsiteInfos">

        <mat-card-title>Lieu : {{ campsiteInfos.lieu }}</mat-card-title>
        <mat-card-subtitle>Region : {{ campsiteInfos.region }}</mat-card-subtitle>
      </ng-container>
    </mat-card-title-group>
    <mat-card-content>
      <ng-container *ngIf="campsiteInfos$ | async as campsiteInfos">
        <mat-card class="info-card">Lieu : {{ campsiteInfos.lieu }}</mat-card>
        <mat-card class="info-card">Region : {{ campsiteInfos.region }}</mat-card>
        <mat-card class="info-card">Prix : {{ campsiteInfos.prix }}</mat-card>
        <mat-card class="info-card">Nombre de places : {{ campsiteInfos.places }}</mat-card>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

