*{
  box-sizing : border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden ;
  // background:url() ;
  background-size: cover;
  background-position: center;
}

.mainbox{
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 50px;
}

.mainbox:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../assets/img/icons/common/pngwing.com.png) no-repeat;
  background-size: 5%;
  left: 5%;
  top: 48%;
  transform: rotate(0deg);
}

.box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid whitesmoke;
  overflow: hidden;
  transition: all ease-in-out 5s;
  transform: rotate(90deg);
}

span{
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.span1{
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-color: green;
}
.span2{
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-color: red;
}
.span3{
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-color: blue;
}
.span4{
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-color: yellow;
}
.span5{
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background-color: orange;
}

.box2{
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.box2 .span1{
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-color: green;
}
.box2 .span2{
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-color: red;
}
.box2 .span3{
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-color: blue;
}
.box2 .span4{
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-color: yellow;
}
.box2 .span5{
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background-color: orange;
}

.font{
  color: #fff;
  font-size: 40px;
}

.box1 .span1 h5{
  font-size: large;
  position: absolute;
  top: 40%;
  right: 63%;
  transform: rotate(200deg);
  text-align: center;
}

.box1 .span2 h5{
  font-size: large;
  position: absolute;
  top: 30%;
  right: 57%;
  transform: rotate(-130deg);
  text-align: center;
}

.box1 .span3 h5{
  font-size: large;
  position: absolute;
  top: 22%;
  right: 38%;
  transform: rotate(-90deg);
  text-align: center;
}

.box1 .span4 h5{
  font-size: large;
  position: absolute;
  top: 25%;
  right: 16%;
  transform: rotate(-45deg);
  text-align: center;
}
.box1 .span5 h5{
  font-size: large;
  position: absolute;
  top: 40%;
  right: 6%;
  transform: rotate(-15deg);
  text-align: center;
}


.box2 .span1 h5{
  font-size: large;
  position: absolute;
  top: 34%;
  right: 70%;
  transform: rotate(200deg);
  text-align: center;
}

.box2 .span2 h5{
  font-size: large;
  position: absolute;
  top: 28%;
  right: 54%;
  transform: rotate(-130deg);
  text-align: center;
}

.box2 .span3 h5{
  font-size: large;
  position: absolute;
  top: 15%;
  right: 40%;
  transform: rotate(270deg);
  text-align: center;
}

.box2 .span4 h5{
  font-size: large;
  position: absolute;
  top: 25%;
  right: 15%;
  transform: rotate(315deg);
  text-align: center;
}
.box2 .span5 h5{
  font-size: large;
  position: absolute;
  top: 38%;
  right: 6%;
  transform: rotate(-20deg);
  text-align: center;
}

.spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid white;
  background: #1D76E5;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

.spin:active{
  width: 70px;
  height: 70px;
  font-size: 20px;
}
.mainbox.animate:after{
  animation:animateArrow 0.7s ease infinite;
}
audio{
  display: none;
}
@keyframes animateArrow {
  50%{
    right: -50px;
  }
}
$colorSubtitle:rgb(21, 21, 102);
.add_btn{
    position:absolute;
    bottom:0;
    right:0;
}
.imageCover{
    background-image: url("https://wallpaperaccess.com/full/2452863.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px; 
    z-index:-2;
}
.poisitiontitle{
    position:relative;
    top:4em;
    left:3em;
    .title{
  
        font-size:4em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:white;
    }
    .title:hover{
        
    }

    .subtitle{
        font-size:1em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:$colorSubtitle;
    }
    
}

.filterbar{
    position:relative;
    bottom:0;
    padding:2px;
}


.subtitle{
    font-size:1.25em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:$colorSubtitle;
}
.divider{
    background-color:$colorSubtitle;
}
  /* === HEADING STYLE #3 === */
  .three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }
  .three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
  }
  .three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }
  
  .page-item.disabled .page-link {
    pointer-events: none;
    
  }
  
  