<!-- <div class="custom-mat-dialog-container">
  <h2 mat-dialog-title>Update Reservation</h2>
  <mat-dialog-content>
    <div class="card-body">
      <form [formGroup]="ResForm" (ngSubmit)="SubmitForm()">
        <h6 class="heading-small text-muted mb-4">Reservation details</h6>
        <div class="pl-lg-4">
          Other form fields here -->
          <!-- <div class="row">
            <div class="col-lg-12">
              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Date Range</mat-label>
                <mat-date-range-input
                  [formGroup]="ResForm.get('detailReservation')"
                  [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" formControlName="dateArrivee">
                  <input matEndDate placeholder="End date" formControlName="dateDepart">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div> -->
          <!-- Other form fields here -->
        <!-- </div>
        <div class="col-4 text-right">
          <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </div>
      </form>
    </div>
  </mat-dialog-content>
</div> --> 
  

<mat-card>
<mat-card-content>
 
      <div class="card-body">
        <form [formGroup]="ResForm" (ngSubmit)="SubmitForm()">
          <h6 class="heading-small text-muted mb-4">Reservation details</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-nombreCampeurs">nombre de personne</label>
                  <input type="number" id="input-nombreCampeur" class="form-control form-control-alternative" formControlName="nombreCampeurs">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label>Date Range</mat-label>
                  <mat-date-range-input
                    [formGroup]="ResForm.get('detailReservation')"
                    [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" formControlName="dateArrivee">
                    <input matEndDate placeholder="End date" formControlName="dateDepart">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
            </div>
            
       

          </div>
          <div class="col-4 text-right">
            <button type="submit" class="btn btn-sm btn-primary">Reserver</button>
          </div>
        </form>
       </div>
      
       </mat-card-content>
      </mat-card>