<div class="header">
<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Create an Account</h1>
            <p class="text-lead text-light">Start your journey by creating a new account.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
         
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <p>Sign up as a camping center</p>
            </div>

            
            <form [formGroup]="addUserForm" (ngSubmit)="addUser"  id="firstForm" *ngIf="!this.showImage">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="firstName" type="text" formControlName="firstName">
                </div>
                <div *ngIf="addUserForm.controls['firstName'].invalid && (
                  addUserForm.controls['firstName'].touched || addUserForm.controls['firstName'].dirty 
                )">
                     <div *ngIf ="addUserForm.controls['firstName'].errors?.['required']">  Ce champ est obligatoire </div>
                    
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="LastName" type="text" formControlName="lastName">
                </div>
                <div *ngIf="addUserForm.controls['lastName'].invalid && (
                  addUserForm.controls['lastName'].touched || addUserForm.controls['lastName'].dirty
                )">
                     <div *ngIf ="addUserForm.controls['lastName'].errors?.['required']">  Ce champ est obligatoire </div>
                    
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email" formControlName="email">
                
                </div>
                <div *ngIf="addUserForm.controls['email'].invalid && (
                  addUserForm.controls['email'].touched || addUserForm.controls['email'].dirty
                )">
                     <div *ngIf ="addUserForm.controls['email'].errors?.['required']">  Ce champ est obligatoire </div>
                     <div *ngIf ="addUserForm.controls['email'].errors?.['email']">  Ce n'est pas une adresse mail </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="phone" type="number" formControlName="telephone">
                </div>
                <div *ngIf="addUserForm.controls['telephone'].invalid && (
                  addUserForm.controls['telephone'].touched || addUserForm.controls['telephone'].dirty
                )">
                     <div *ngIf ="addUserForm.controls['telephone'].errors?.['required']">  Ce champ est obligatoire </div>
                     <div *ngIf="addUserForm.controls['telephone'].errors?.pattern">
                      Le numéro de téléphone doit contenir exactement 8 chiffres.
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="adress" type="text" formControlName="adresse">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Date de naissannce" type="date" formControlName="date_naissance">
                </div>
              </div>
              
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password" formControlName="password">
                </div>
                <div *ngIf="addUserForm.controls['password'].invalid && (
                  addUserForm.controls['password'].touched || addUserForm.controls['password'].dirty
                )">
                     <div *ngIf ="addUserForm.controls['password'].errors?.['required']">  Ce champ est obligatoire </div>
                    
                </div>
                <div class="text-muted font-italic">
                  <small>Force du mot de passe : 
                      <span class="text-success font-weight-700">{{ getPasswordStrength() }}</span>
                  </small>
              </div>
             
                <div class="container mt-8 pb-5">
                     <div class="text-center text-muted mb-4">
                <p>Add your preferences</p>
              </div>
                    <form [formGroup]="DetailsUserForm"  class="custom-form" >
                        <div class="form-group">
                          <h4>Types de paysage</h4>
                          <mat-button-toggle-group name="landscapeType" aria-label="Types de paysage" formControlName="paysage"  multiple>
                            <mat-button-toggle value="FOREST">Forest</mat-button-toggle>
                            <mat-button-toggle value="DESERT">Desert</mat-button-toggle>
                            <mat-button-toggle value="MOUNTAIN">Mountain</mat-button-toggle>
                            <mat-button-toggle value="BEACH">Beach</mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                        <div class="form-group">
                        <h4>Color</h4>
                          
                          <input type="color" value="#ff0000" formControlName="couleur"class="form-control" />
                        </div>
                        <div class="form-group">
                          <h4>Alimentation</h4>
                          <mat-button-toggle-group name="food" aria-label="Alimentation" formControlName="alimentation"  multiple>    
                            <mat-button-toggle value="PICNIC">Picnic</mat-button-toggle>
                            <mat-button-toggle value="BARBECUE">Barbecue</mat-button-toggle>
                            <mat-button-toggle value="RESTAURANT">Restaurant</mat-button-toggle>
                            <mat-button-toggle value="CAFE">Cafe</mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                        <div class="form-group">
                          <h4>Accompagnement</h4>
                          <mat-button-toggle-group name="companionship" aria-label="Accompagnement" formControlName="compagnement"  multiple>
                            <mat-button-toggle value="GUIDED_TOURS">Guided_Tours</mat-button-toggle>
                            <mat-button-toggle value="OUTDOOR">Outdoor</mat-button-toggle>
                            <mat-button-toggle value="EVENING">Evening</mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                        <div class="form-group">
                          <h4>Saison</h4>
                          <mat-button-toggle-group name="season" aria-label="Saison" formControlName="saison"  multiple >
                            <mat-button-toggle value="SPRING">Spring</mat-button-toggle>
                            <mat-button-toggle value="SUMMER">Summer</mat-button-toggle>
                            <mat-button-toggle value="AUTUMN">Autumn</mat-button-toggle>
                            <mat-button-toggle value="WINTER">Winter</mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                        <div class="form-group">
                          <h4>Type d'hébergement</h4>
                          <mat-button-toggle-group name="accommodation" aria-label="Type d'hébergement" formControlName="type_hebergement"  multiple >
                            <mat-button-toggle value="TENT">Tent</mat-button-toggle>
                            
                            <mat-button-toggle value="BUNGALOW">Bungalow</mat-button-toggle>
                            <mat-button-toggle value="CARAVAN">Caravan</mat-button-toggle>
                            
                            <mat-button-toggle value="YURT">Yurt</mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                        <!-- Vos autres champs ici -->
                      </form>
                      
      
                </div>
              
              
              </div>
              
             <!-- Afficher ce message si l'ajout est réussi -->
  <div *ngIf="ajoutReussi" class="alert alert-success" role="alert">
    L'utilisateur a été ajouté avec succès!
  </div>
  <div *ngIf="userByEmail" class="alert alert-danger" role="alert">
    Cet utilisateur existe déjà.
  </div>
  <!-- Afficher ce message en cas d'erreur -->
  <div *ngIf="erreurAjout && !userByEmail" class="alert alert-danger" role="alert">
    Une erreur est survenue lors de l'ajout de l'utilisateur. Veuillez réessayer.
  </div>
  
              <div class="text-center">
                
                <button type="button" class="btn btn-primary mt-4" (click)="addUser()" [disabled]="!addUserForm.valid">Add photo</button>
              </div>
            </form>
            <div class="card-header bg-transparent pb-5" *ngIf="this.showImage">
              <app-image-component [email]="this.addUserForm.value.email"  ></app-image-component>
             </div>
             <button type="button" class="btn btn-primary mt-4"  *ngIf="this.showImage"  [disabled]="!addUserForm.valid">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
